<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <title>New Budget View</title>
</head>
<body>
  <div class="container">
    <h1>New Budget</h1>
    <form action="/budget" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="dateOf">Date</label>
      <input type="date" id="dateOf" name="date"><br><br>
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount"><br><br>
      <label for="from">From</label>
      <input type="text" id="from" name="from"><br><br>
      <label for="tags">Tag</label>
      <input type="text" id="tags" name="tags"><br><br>
      <input type="submit" value="Create Budget">
    </form><br><br>
    <a href='/budget'>
      <button>Home</button>
    </a>
  </div>
</body>
</html>